@model IEnumerable<MCVFinal.ubicacion>

@{
    ViewBag.Title = "Index";
}

<h2>Ubicaciones</h2>

<p>
    @Html.ActionLink("Crear nueva ubicacion", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Descripcion de la ubicacion
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_mesa }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_mesa }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_mesa })
        </td>
    </tr>
}

</table>
@Html.ActionLink("Retornar", null, null, null, new { href = Request.UrlReferrer })